{% extends "base.html" %}
{% load static %}

{% block title %}{{ location }} - BearEats{% endblock %}

{% block content %}
{% with "delta/"|add:location.identifier|add:'.jpeg' as static_img %}
    <img id="location_img" src="{% static static_img %}" draggable="false" />
{% endwith %}

<div id="main_content">
    <h1>{{ location }}</h1>
    {% if menu_data.items %}
        {% for meal_period, menu_items in menu_data.items %}
            <h3>{{ meal_period.period }} on {{ meal_period.date }}</h3>
            <ul>
            {% if menu_items %}
                {% for menu_item in menu_items %}
                    <li>
                        <b>{{ menu_item.0.name }}</b> (Category: {{ menu_item.0.category }})

                        <form method="POST">
                            {% csrf_token %}
                            {% if menu_item.1 %}
                                <a>Rating: {{ menu_item.1 }}★/5.0★ ({{ menu_item.2 }}) -- </a>
                            {% else %}
                                <a>No ratings -- </a>
                            {% endif %}
                            <a>Add your rating: </a>
                            <input type="hidden" name="menu_item_uid" value="{{ menu_item.0.uid }}" />
                            {% for i in "12345" %}
                                <button class="rating_stars" type="submit" name="star" value="{{ i }}">☆</a>
                            {% endfor %}
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>No menu items available.</li>
            {% endif %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No meal periods available.</p>
    {% endif %}
</div>
{% endblock %}